/data/crsp_compustat_merged_fundamentals_quarterly.sas7bdat
/data/crsp_compustat_merged_security_monthly.sas7bdat
/data/crsp_security_files_monthly_stock.sas7bdat
/data/df_data.pkl
/data/df_fundamentals_quarterly.pkl
/data/df_security_monthly.pkl
/data/df_stock_monthly.pkl
/data/factors_monthly.sas7bdat
/data/df_factors_monthly.pkl
/data/dic_data.pkl
